html {
	font-size: 16px; //$base-font-size: 16px !default; ( _variables.scss )
	font-family: 'Raleway', sans-serif;
	padding: .1rem;
}

@media screen and (min-width: 320px) {
	html {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}

//*:not(.fa) {
//	font-family: //your font-family;
//},

//*:not(i):not(.fa):not(.YourClassName) {
//	font-family: //your font-family;
//}
