%linkHover {
	//font-size: 100%;
	transition-duration: 1s;

	&:hover {
		//font-size: 120%;
		background-color: darken($brightText, 30%);
		padding: .5rem 2rem;
		box-shadow: .1rem .1rem .2rem $darkText;
		font-weight: bold;
		transition-duration: .5s;
		transition-delay: .5s;
	}
}

