#error-page {
	height: 80vh;

	display: flex;
	justify-content: center;

	#description-section {
		padding: 2rem;
		text-align: center;
	}

	.material-icons {
		font-size: 4rem;
	}
}

.server-works{
	background-color: $alert-color;
}

.server-error {
	background-color: $server-error-background;
	color: $brightText;
}
