#historical-page {
  height: 80vh;
  background-color: $secondary;
  display: flex;
  flex-direction: column;

  #historical-header {
    width: 100%;
    text-align: center;
    border-bottom: .1rem solid $darkText;
    background-color: $brightText;
  }

  #historical-content {
    align-self: center;
    padding-top: 1rem;
    //width: 50%;

    .form-selection {
      display: flex;
      flex-direction: column;

      .field {
        margin: 0 auto;
        padding: 1rem;
        width: 100%;

        label {
          font-size: 1.2rem;
          font-weight: bold;
          display: block;
          margin-bottom: .5rem;
        }

        .calendar {
          display: flex;

          .material-icons {
            align-self: center;
            margin-right: 1rem;
          }

          .date-picker {
            height: 40px;
            text-align: center;
          }
        }

        .submit-button {
          width: 100%;
          height: 40px;
          background-color: darken($secondary, 40%);
          color: $brightText;
          outline: none;
          border: none;
        }
      }

      .error-modal {
        $size: 70%;

        width: $size;
        height: $size;
        border-radius: $size / 40;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $alert-color;
        display: none;
        flex-direction: column;
        justify-content: center;

        .error-notification {
          display: inline-block;
          width: 50%;
          margin: 1rem auto;
          text-align: center;
          font-size: 1.5rem;
        }

        .close-modal {
          background-color: darken($secondary, 40%);
          color: $brightText;
          width: 50%;
          height: 40px;
          margin: 1rem auto;
          outline: none;
          border: none;
        }
      }
    }

    .loading-time-conversion-container {
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      justify-content: center;
      align-items: center;
      height: 80vh;

      .loading-time-conversion-loader {
        $size: 10rem;

        width: $size;
        height: $size;
        border-radius: $size / 2;
        background-color: $primary;
        animation: rotation 2s infinite linear;
        display: flex;
        justify-content: center;
        align-items: center;

        .loading-time-text {
          font-size: 3rem;
          font-weight: 900;
          color: $brightText;
        }
      }

      @keyframes rotation {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(359deg);
        }
      }
    }
  }
}
