.navbar {
	background-color: $primary;
	color: $brightText;
	border-radius: 5px;
	padding: 1rem;

	&__link {
		display: inline-block;
		background-color: $brightText;
		color: $darkText;
		border-radius: 5px;
		padding: .3rem;
		margin: .5rem .1rem 0 0;
	}
}
